# Environment
NODE_ENV
PORT

BASE_APP_URL
SUPPORT_EMAIL
DEFAULT_FROM_EMAIL
RESEND_API_KEY

#CORS
CROSS_ORIGIN

# AUTH COOKIES
COOKIE_DOMAIN

# Database
DATABASE_URL

# Redis
REDIS_HOST
REDIS_PORT
REDIS_USERNAME
REDIS_PASSWORD

# JWT
ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET
OTP_TOKEN_SECRET
TRANSFER_TOKEN_SECRET
INVITE_TOKEN_SECRET

# AWS
AWS_REGION
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_S3_BUCKET_NAME
AWS_CLOUDFRONT_URL
AWS_CLOUDFRONT_KEY_PAIR_ID
STORAGE_CDN_PRIVATE_KEY

# LOG
LOG_LEVEL

# Block and Part Size
MAX_BLOCK_SIZE
MAX_PART_SIZE


# Beta Testing
BETA_TESTING
RESEND_BETA_TESTERS_AUDIENCE_ID