# Environment
NODE_ENV
PORT

BASE_SHAREABLE_URL

#CORS
CROSS_ORIGIN

# Database
DATABASE_URL

# Redis
REDIS_HOST
REDIS_PORT
REDIS_USERNAME
REDIS_PASSWORD

# JWT
ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET
OTP_TOKEN_SECRET

# AWS
AWS_REGION
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_S3_BUCKET_NAME

# LOG
LOG_LEVEL