@import "tailwindcss";

.header_section {
  @apply col-span-full flex items-start justify-between gap-12 mb-8 max-w-full max-sm:flex-col max-sm:items-stretch max-sm:gap-4;
}

.header_info {
  @apply flex flex-col items-start gap-2 grow overflow-hidden;
}

.header_title {
  @apply text-4xl font-semibold max-w-full truncate max-xl:text-2xl max-xl:whitespace-normal max-xl:line-clamp-2 max-sm:line-clamp-3;
}

.header_meta {
  @apply text-neutral-400;
}

.header_badges {
  @apply flex items-center gap-2 min-w-fit;
}

.details_section {
  @apply col-span-6 row-span-1 flex flex-col gap-6 mb-16 max-xl:col-span-10 max-xl:row-start-2 max-xl:mb-12 max-lg:col-span-full;
}

.details_list {
  @apply w-full flex flex-col gap-0;
}

.detail {
  @apply flex items-center gap-4 border-t border-neutral-200 py-4 px-2 overflow-hidden;
}

.detail_name {
  @apply text-neutral-400 min-w-[196px] max-xl:min-w-[120px] max-sm:min-w-[100px];
}

.files_section {
  @apply col-span-4 -col-end-1 row-span-3 -mt-4 max-xl:col-span-6 max-md:col-span-full;
}

.files_header {
  @apply w-full flex flex-col items-start border-b border-neutral-200 pb-2 mb-2;
}

.files_title {
  @apply text-lg font-semibold;
}

.files_info {
  @apply -mt-1 w-full flex items-center justify-between gap-4 text-neutral-400;
}

.files_summary {
  @apply flex items-center gap-2;
}

.files_download_icon {
  @apply p-2 hover:bg-neutral-100 rounded-md cursor-pointer !text-2xl text-black;
}

.files_list {
  @apply w-full flex flex-col gap-2;
}

.email_chips {
  @apply max-h-[130px] overflow-y-scroll flex flex-wrap gap-2;
}

.email_chip {
  @apply flex items-center gap-2 px-3 py-2 bg-gray-100 rounded-md;
}

.email_text {
  @apply text-sm text-gray-800;
}

.email_delete_button {
  @apply p-1 hover:bg-gray-200 rounded-md cursor-pointer;
}

.link_section {
  @apply col-span-6 flex flex-col gap-4 max-xl:col-span-10 max-xl:row-start-1 max-lg:col-span-full;
}

.link_header {
  @apply w-full flex flex-col items-start border-b border-neutral-200 pb-2 mb-2;
}

.link_title {
  @apply text-lg font-semibold;
}

.link_info {
  @apply flex flex-col gap-4;
}

.link_subtitle {
  @apply text-sm font-semibold;
}

.link_container {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  @apply max-[510px]:flex-col;
}

.link_container .qr_code {
  width: 200px;
  min-width: 200px;
  height: auto;
  padding: 12px;
  border: 1px solid var(--color-neutral-200);
  border-radius: 8px;
}

.link_container .link_details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.link_container .copy_link {
  max-width: 100%;
}

.link_container .link_meta {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.link_meta .link_detail {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 12px;
  width: 100%;
  border-top: 1px solid var(--color-neutral-200);
  padding: 12px 8px;
}

.link_detail span:first-child {
  color: var(--color-neutral-400);
}

.link_meta .link_detail span:last-child {
  color: var(--color-black);
}
