.transfer_form {
  grid-column: 1 / -1;
}

.steps {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  text-align: center;
}

.step_number {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 8px;
}

.step_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.step_description {
  font-size: 14px;
  color: var(--color-neutral-400);
  max-width: 480px;
}

.step_body {
  width: 100%;
  max-width: 480px;
}

.step_input {
  width: 100%;
  margin-bottom: 16px;
}

.action_button {
  margin-top: 8px;
  width: 100%;
}

.step_note {
  display: block;
  width: 100%;
  margin-top: 12px;
  font-size: 12px;
  color: var(--color-neutral-400);
  text-align: center;
}
