@import "tailwindcss";
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  --banner-height: 40vh;
  @apply max-sm:[--banner-height:30vh];
}

.banner {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 32px;
  width: 100vw;
  height: var(--banner-height);
  background-color: oklch(0.205 0 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.formWrapper {
  --margin: 160px;
  padding: 32px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--banner-height) - var(--margin));
  @apply max-sm:w-[90vw] max-sm:px-4 max-sm:[--margin:64px];
}

.formHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formFooter {
  width: 100%;
  padding: 16px;
  border-top: 1px solid var(--border-color);
  text-align: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}
