@import "tailwindcss";

.transfer_container {
  grid-column: 3 / span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
  row-gap: 48px;
  transition: all var(--global-transition-duration) ease-in-out;
  @apply max-xl:col-span-full max-xl:col-start-1 max-sm:grid-cols-4;
}

.transfer_files {
  height: 456px;
  max-height: 456px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @apply max-sm:h-auto max-sm:max-h-[280px];
}

.transfer_files .file_picker {
  height: 100%;
}
.transfer_files .file_picker.shrink {
  height: auto;
}

.transfer_files .file_list {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.transfer_files .file_item_wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 2px;
}

.transfer_files .file_item {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.transfer_files .file_info {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: calc(100% - 60px); /* leave room for the "Remove" button */
}

.transfer_files .file_icon {
  width: 24px;
  height: auto;
}

.transfer_files .file_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.transfer_files .file_name {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transfer_files .file_meta {
  font-size: 12px;
  color: var(--color-text-secondary);
}

.transfer_files .remove_button {
  cursor: pointer;
  color: var(--color-text-secondary);
  font-size: 14px;
  transform: translateX(25%);
  transition: color var(--global-transition-duration) ease-in-out;
}

.transfer_details {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
