@import "tailwindcss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  grid-column: 1 / -1;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-neutral-200);
  @apply max-md:flex-wrap-reverse max-md:gap-x-8 max-md:gap-y-4;
}

.header_info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header_title {
  max-width: 90%;
  font-size: var(--text-2xl);
  font-weight: 600;
  @apply line-clamp-2 max-lg:max-w-full max-sm:line-clamp-3 max-sm:text-xl;
}

.header_meta {
  font-size: var(--text-sm);
  font-weight: 400;
  color: var(--color-neutral-400);
}

.description_wrapper {
  grid-column: span 6 / span 6;
  grid-column-start: 4;
  margin-bottom: 24px;
  text-align: center;
  @apply max-lg:col-start-2 max-sm:col-start-1 max-sm:col-span-4;
}

.description_title {
  font-size: var(--text-lg);
  font-weight: 600;
  margin-bottom: 8px;
}

.description_text {
  font-size: var(--text-base);
  font-weight: 400;
  color: var(--color-neutral-400);
}

.files_section {
  grid-column: span 4 / span 4;
  grid-column-start: 5;
  @apply max-lg:col-start-3 max-sm:col-start-1 max-sm:col-span-4;
}

.files_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-neutral-200);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.files_title {
  font-size: var(--text-lg);
  font-weight: 600;
}

.files_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-neutral-400);
  margin-top: -4px;
}

.files_summary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.files_download_icon {
  font-size: var(--text-2xl);
  color: black;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.files_download_icon:hover {
  background-color: var(--color-neutral-100);
}

.files_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
